.container {
background-image:url("img/11.jpg");
position:fixed;
right:0;
top:o;
width: 100vw;
height: 100vh;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}

.box1{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
height: 460px;
width: 440px;
background: #210ee9;
opacity: 0.8;
    
}

.img1{
position:absolute; 
top:50%; 
left:50%; 
transform:translate(-50%, -50%); 
height: 650px;
width: 550px;
margin-top: -11px;
                          
}

h3{
position:fixed;
color: blanchedalmond;
font-family: 'Roboto', sans-serif;
border-width: 2px;
border-style: solid;
border-color:#fff;
height: 150px;
width: 300px;
margin-top: 100px;
display: flex;
justify-content: center;
align-items: center;

}

h1{

position: absolute;
color: #fff;
margin-top: -150px;
font-size: 36px;

}

.btn1{
position: absolute;
color:#fff;
cursor: pointer;
width: 80px;
height: 30px;
font-size: 16px;
font-family: 'Roboto', sans-serif;
padding: 14px;
border-radius: 8px;
background-color: #3c367e;
display: flex;
align-items: center;
justify-content: center;
  
}

.btn1:hover {
color:white;
filter: brightness(50% );
        
}
      

.btn2{

position: absolute;
color:#fff;
cursor: pointer;
width: 80px;
height: 30px;
font-size: 16px;
font-family: 'Roboto', sans-serif;
border-radius: 8px;
background-color: #3c367e;
display: flex;
align-items: center;
justify-content: center;
margin-left: 100px;
        
}

.btn2:hover {
color:white;
filter: brightness(50% );
            
}     

h6{

margin-top: -20px;
}